<!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner bg_img" data-background="/assets/images/banner/banner07.jpg">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">
                về chúng tôi
            </h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/">
                        Trang chủ
                    </a>
                </li>
                <li>
                    về chúng tôi
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Speaker-Single========== -->
<section class="about-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="event-about-content">
                    <div class="section-header-3 left-style m-0">
                        <span class="cate">
                            chúng tôi là Boleto
                        </span>
                        <h2 class="title">Get to know us</h2>
                        <p>
                            Với sứ mệnh mong muốn mang tới giá trị văn hóa hiện đại và chất lượng, Boleto luôn lắng nghe, nghiên cứu nhằm thấu hiểu và thoả mãn nhu cầu của khách hàng, sáng tạo trong từng sản phẩm, tận tâm đem đến chất lượng dịch vụ hàng đầu.

                        </p>
                        <p>
                            Boleto Media được thành lập với mục tiêu đem tới khách hàng các sản phẩm và dịch vụ chất lượng tốt nhất, giá cả hợp lý nhất; với hai mảng kinh doanh chính là Tổ hợp dịch vụ ăn uống giải trí và cung cấp dịch vụ truyền thông. Chúng tôi đặt ra mục tiêu đem lại những trải nghiệm văn hoá và giải trí tuyệt vời nhất cho người dân Việt Nam, đặc biệt là giới trẻ.
                        </p>
                        <a href="/movies" class="custom-button">Đặt vé</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <div class="about-thumb">
                    <img src="/assets/images/about/about01.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Single========== -->
<!-- ==========Philosophy-Section========== -->
<div class="philosophy-section padding-top padding-bottom bg-one bg_img bg_quater_img" data-background="/assets/images/about/about-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3 bg-two">
                <div class="philosophy-content">
                    <div class="section-header-3 left-style">
                        <span class="cate">
                            Hãy nhìn vào
                        </span>
                        <h2 class="title">
                            Triết lý của chúng tôi
                        </h2>
                        <p class="ml-0">
                            Phục vụ hết mình với khách hàng, cung cấp dịch vụ chất lượng nhất.
                        </p>
                    </div>
                    <ul class="phisophy-list">
                        <li>
                            <div class="thumb">
                                <img src="/assets/images/philosophy/icon1.png" alt="philosophy">
                            </div>
                            <h5 class="title">
                                Trung thực & Công bằng
                            </h5>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="/assets/images/philosophy/icon2.png" alt="philosophy">
                            </div>
                            <h5 class="title">
                                Rõ ràng & minh bạch
                            </h5>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="/assets/images/philosophy/icon3.png" alt="philosophy">
                            </div>
                            <h5 class="title">
                                Tập trung vào khách hàng
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Philosophy-Section========== -->
<!-- ==========About-Counter-Section========== -->
<section class="about-counter-section padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header-3 left-style mb-lg-0">
                    <span class="cate">
                        thông tin nhanh
                    </span>
                    <h2 class="title">
                        những điều lý thú
                    </h2>
                    <p>
                        Nắm bắt một cách khách quan các số liệu có thể mở rộng trong khi các dịch vụ chủ động trao quyền liên tục cho các chiến lược tăng trưởng được nghiên cứu đầy đủ
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="about-counter">
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter01.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="1"></h3>
                            <h3 class="title">M+</h3>
                        </div>
                        <span class="d-block info">
                            Khách hàng
                        </span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter02.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="1"></h3>
                        </div>
                        <span class="d-block info">
                            Quốc gia
                        </span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter03.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="10"></h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">
                            Thị trấn & Thành phố
                        </span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter04.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="50"></h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">Phòng chiếu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========About-Counter-Section========== -->