@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ==========Event-Section========== -->
<section class="event-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-3">
                <div class="widget widget-categories">
                    <h5 class="title">Menu</h5>
                    <ul>
                        <li style="font-weight:bold;">
                            <a href="/account">
                                <span style="color: chocolate;">Tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a href="/account/order">
                                <span>Đơn hàng</span>
                            </a>
                        </li>
                        <li>
                            <a href="/account/logout">
                                <span>Thoát</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab">
                    <div class="filter-area">
                        <div class="filter-main">
                            <div class="left w-100 justify-content-between">
                                <div class="item">
                                    <h5>Thông tin tài khoản</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="checkout-widget d-flex flex-wrap align-items-center justify-cotent-between" style="width: 96%;">
                            <div class="title-area">
                                <form action="@Url.Action("changepassword")" method="post" class="checkout-contact-form">
                                    <div class="form-group">
                                        Mật khẩu cũ:
                                        <input type="password" name="passcu" placeholder="" required maxlength="50" minlength="3">
                                    </div>
                                    <div class="form-group">
                                        Mật khẩu mới:
                                        <input type="password" name="passmoi" placeholder="" required maxlength="50" minlength="3">
                                    </div>
                                    <div class="form-group">
                                        Xác nhận mật khẩu:
                                        <input type="password" name="nhaplaipassmoi" placeholder="" required maxlength="50" minlength="3">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Đổi mật khẩu" class="custom-button">
                                        @if (TempData["notice"] != null)
                                        {
                                            <br />
                                            <br />
                                            <p style="color:red; font-style:italic;">@TempData["notice"]</p>
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-Section========== -->
