@{
    ViewBag.Title = "Bảng điều khiển";
    ViewBag.Controller = "Quản trị";
    ViewBag.General = "active";
    ViewBag.BangDieuKhien = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Id = "view-null";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <h3>Chào mừng đến với hệ thống quản lý website đặt vé xem phim!</h3>
            </div>
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
